<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466753601920-is25bkhja59hh4kbt24rs6315mei4mqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466753601920-is25bkhja59hh4kbt24rs6315mei4mqh</string>
	<key>API_KEY</key>
	<string>AIzaSyBS5ZcwbYII79PQT-ZkzzYx9knP4afFHB4</string>
	<key>GCM_SENDER_ID</key>
	<string>466753601920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-p175x0290</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-p175x0290.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466753601920:ios:dd29dd33ba77b0d8cc4165</string>
</dict>
</plist>